
.readed-books-section {
  text-align: center;
  margin-top: 40px;
}

#readed-books-title {
  font-weight: 600;
  font-size: 15pt;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: #ff7551 solid 4px;
  display: inline-block;
}


.readed-books {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
}

.readed-books .book {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  max-width: 200px;
  text-align: center;
}

.readed-books .book img {
  width: 100%;
  max-width: 130px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #888888;
}

.readed-books .book h3 {
  font-weight: 500;
  margin-top: 20px;
  font-size: 13pt;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 5px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.readed-books .book p {
  font-size: 10pt;
  line-height: 1.2;
  text-align: center;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.readed-books .remove-readed-button {
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 5px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #df3e16;
  border: 2px solid #ff7551;
  border-radius: 30px;
}

.remove-readed-button:hover{
  background-color: #df3e16;
  color: white;
}