/* Body Styling */
body {
    margin: 0;
}

*{
    font-family: 'poppins';
}

/* Sidebar Styling */
.sidebar {
    width: 200px;
    background-color: #fff;
    padding: 25px;
    position: fixed;
}

/* Menu Header */
.menu-header {
    font-size: 16px;
    font-weight: 500;
    color: #888;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

/* Menu Section */
.menu-section {
    margin-top: 20px;
}

/* Section Title */
.section-title {
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-bottom: 10px;
    display: block;
    letter-spacing: 1px;
}

/* Menu List */
.menu-list {
    list-style: none;
    padding: 0;
}

/* Menu Item Styling */
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    color: #555;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Icon Styling */
.menu-item i.icon {
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 12px 8px;
    color: #808191;
    margin-right: 20px;
    font-size: 16px;
    display: inline-block;
    width: 24px;
    text-align: center;
}

/* Active Menu Item Styling */
.menu-item.active {
    color: #000;
    font-weight: 600;
    transition: font-weight 0.3s;
}

.menu-item:hover {
    color: #ff7551;
    transition:  0.3s;
}

.menu-item:hover i.icon {
    background-color: #ff7551;
    color: #fff;
    transition: background-color 0.3s;
}

.menu-item.active i.icon {
    background-color: #ff7551;
    color: #fff;
    transition: background-color 0.3s;
}

/* Divider Styling */
.divider {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

/* Logo Styling */
.logo {
    text-align: center;
}

.logo img {
    width: 70%;
}

/* Content styling (single book page) */

.content {
    margin-left: 210px; /* sidebar width + 10px */ 
    padding: 20px;
}
.content .row{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}
.book-img img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px #888888;
}
.book-img {
   padding: 3%;
}
.book-details{
    margin-top: 0px;
    width: 100%;
}
#book-title {
    color: #3f3e3e;
    font-size: 22pt;
}
.book-description
{
    margin-top: 10px;
    text-align: justify;
    font-size: 12pt;
}
.book-info {
    margin-top: 30px;
}
.book-info h3 {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 0 0 8px 0; 
    font-size: 12pt;
}

.book-info h3 span {
    font-weight: normal;
    color: #333; 
}

.book-buttons button{
  padding: 13px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.book-buttons #add-read:hover,#add-favorite{
    background-color: white;
    color: #df3e16;
    border: 2px solid #ff7551;
    border-radius: 30px;
}

.book-buttons #add-read{
    background-color: #ff7551; 
    color: white; 
    border: 2px solid #ff7551;
    border-radius: 30px;
}

.book-buttons i {
    padding-right: 10px;
    font-size: 18px;
}

.book-buttons{
   text-align: center;
}

.recommended-books {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap; 
}

.recommended-books .book {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    max-width: 200px; 
}

.recommended-books .book img {
    width: 100%; 
    max-width: 150px; 
    border-radius: 10px;
    box-shadow: 1px 2px 5px #888888;
}

.recommended-books .book h3 {
    font-weight: 500;
    margin-top: 20px;
    line-height: 1.2;
    font-size: 13pt;
    text-align: center; 
    margin-bottom: 5px;
}

.recommended-books .book p {
    line-height: 1.2;
    font-size: 10pt;
    text-align: center; 
}
#recommended-title{
    margin-left: 90px;
    font-weight: 600;
    font-size: 15pt;
    color: #333;
}

.recommended-books .book:hover {
    text-decoration: underline;
    cursor: pointer;
  
}
